
@{
                /**/

                ViewBag.Title = "ViewConsumerLedger";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*.dataTables tbody tr {
        min-height: 30px;  or whatever height you need to make them all consistent
        font-size: 9px !important;
    }*/

    /*#myTable1 {*/

    /*}*/
    .table.dataTable td, th {
        font-size: 10px !important;
    }
</style>

<h2><strong>CONSUMER'S LEDGER</strong></h2>


<div class="row">
    <div class="col-lg-2">
        <button class="btn btn-warning" id="btnBack" onclick="location.href='@Url.Action("NetMeteringList","NetMetering")'"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
        <input type="hidden" id="txtCurrentRole" class="form-control" value=@ViewBag.Message />
    </div>
</div>

<br />
<div class="row">
    <div class="col-lg-2">
        @*accountno*@
        <label>ACCOUNT NUMBER: </label><br />
        <input type="text" class="text-center" id="txtAccountNo" value=@ViewBag.AccountNo disabled="disabled" />
    </div>
    <div class="col-lg-3">
        @*name*@
        <label>ACCOUNT NAME: </label><br />
        <input type="text" id="txtName" disabled="disabled" style="min-width:100%;" />
    </div>
    <div class="col-lg-5">
        @*address*@
        <label>ADDRESS: </label><br />
        <input type="text" id="txtAddress" disabled="disabled" style="min-width:100%;" />
    </div>
    <div class="col-lg-2">
        @*status*@
        <label>STATUS: </label><br />
        <input type="text" id="txtStatus" disabled="disabled" style="min-width:100%;" />
    </div>
</div>
<hr />
<div class="form-group" style="max-height:410px;">
    <div class="table-responsive-sm">
        <table class="table table-hover table-bordered" id="myTable1">
            <thead class="bg-primary">
                <tr>
                    <th scope="col" style="text-align:center;">TrxSeqId</th>
                    <th scope="col" style="text-align:center;">TrxDate</th>
                    <th scope="col" style="text-align:center;">Trx</th>
                    <th scope="col" style="text-align:center;">Period</th>
                    <th scope="col" style="text-align:center;">Prev</th>
                    <th scope="col" style="text-align:center;">Curr</th>
                    <th scope="col" style="text-align:center;">KWh</th>
                    <th scope="col" style="text-align:center;">DMU</th>
                    <th scope="col" style="text-align:center;">TrxAmount</th>
                    <th scope="col" style="text-align:center;">TrxBalance</th>
                    <th scope="col" style="text-align:center;">VAT</th>
                    <th scope="col" style="text-align:center;">VATBalance</th>
                    <th scope="col" style="text-align:center;">TTB</th>
                    <th scope="col" style="text-align:center;">TVB</th>
                    <th scope="col" style="text-align:center;">MONTHS</th>
                    <th  scope="col" style="text-align:center;">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-offset-3 col-lg-2 text-right" style="padding:0;">
        <label><strong>Total Balance: </strong></label>
    </div>
    <div class="col-lg-2 text-right">
        <input type="text" name="txtTotalMonths" disabled="disabled" />
    </div>
    <div class="col-lg-2 text-right">
        <input type="text" name="txtTotalTrxBalance" disabled="disabled" />
    </div>
    <div class="col-lg-2 text-right">
        <input type="text" name="txtTotalVatBalance" disabled="disabled" />
    </div>
</div>

<div class="modal fade" id="modalLoading" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="spin-container">
            <div class="spin" id="loader"></div>
            <div class="spin" id="loader2"></div>
            <div class="spin" id="loader3"></div>
            <div class="spin" id="loader4"></div>
            <span id="spintext">LOADING...</span>
        </div>

    </div>
</div>


@section Scripts{
    @*<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/myscripts/nmconsledgerscript_v1.0.0.1.js"></script>
    <script>
        $(document).ready(loaddata());
    </script>
}