
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/myscripts/cnlistforbodresscript_v1.0.0.2.js"></script>


<style>
    .dataTables tbody tr {
        min-height: 30px; /* or whatever height you need to make them all consistent */
    }

    #myTable1 {
        font-size: 12px;
    }
</style>

<h2>Change Name List for Resolution</h2>


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <button class="btn btn-warning" id="btnBack" onclick="location.href='@Url.Action("Index","ChangeNameApplication")'"><i class="glyphicon glyphicon-arrow-left"></i> Application for Change Name</button>
            <input type="hidden" id="txtCurrentRole" class="form-control" value=@ViewBag.Message />
        </div>
    </div>
    <div class="col-md-3" style="padding:0;">
        <div class="form-group">
            <label for="DateFrom">Date From: </label>
            <input type="date" id="dtpFrom" name="dtpFrom" />
        </div>
    </div>
    <div class="col-md-3" style="padding:0;text-align:left;border:">
        <div class="form-group">
            <label for="DateTo">Date To: </label>
            <input type="date" id="dtpTo" name="dtpTo" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <button class="btn btn-primary" id="btnBack" onclick="loaddata()"><i class="glyphicon glyphicon-retweet"></i> Process</button>
        </div>
    </div>
</div>

<br />
<div class="table-responsive-sm">
    <table class="table table-hover table-bordered" id="myTable1" style="font-size:9px !important;">
        <thead class="bg-primary">
            <tr>
                <th scope="col" style="text-align:center;">ID</th>
                <th scope="col" style="text-align:center;">APP DATE</th>
                <th scope="col" style="text-align:center;">NAME/FORMERLY</th>
                <th scope="col" style="text-align:center;">ADDRESS</th>
                <th scope="col" style="text-align:center;">OR#(OLD)</th>
                <th scope="col" style="text-align:center;">DATE(OLD)</th>
                <th scope="col" style="text-align:center;">NAME/CHANGE TO</th>
                <th scope="col" style="text-align:center;">OR#(NEW)</th>
                <th scope="col" style="text-align:center;">DATE(NEW)</th>
                <th scope="col" style="text-align:center;">ACCOUNT#</th>
                <th scope="col" style="text-align:center;">REMARKS</th>
                <th scope="col" style="text-align:center;"></th>
                <th scope="col" style="text-align:center;">APPROVED</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="modalLoading" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="spin-container">
            <div class="spin" id="loader"></div>
            <div class="spin" id="loader2"></div>
            <div class="spin" id="loader3"></div>
            <div class="spin" id="loader4"></div>
            <span id="spintext">LOADING...</span>
        </div>

    </div>
</div>

@section Scripts{

    <!--<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>-->
    @*datatable buttons scripts in order (excel and csv button)*@
    <!--<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>-->
    @*end here*@
}

