

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/myscripts/seniorcitizenscript.js"></script>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/myscripts/sweetalert.js"></script>


<style>
    .dataTables tbody tr {
        min-height: 30px; /* or whatever height you need to make them all consistent */
    }

    #myTable1 {
        font-size: 12px;
    }
</style>

<h2>Consumer List of Senior Citizen</h2>

<div class="row">
    <div class="col-lg-2">
        <button class="btn btn-warning" id="btnBack" onclick="location.href='@Url.Action("Index","Home")'"><i class="glyphicon glyphicon-arrow-left"></i> Home</button>
    </div>
    <div class="col-md-4">
        <input type="hidden" id="txtCurrentRole" class="form-control" value=@ViewBag.Message />
    </div>
</div>
<br />
<div class="table-responsive-sm">
    <table class="table table-hover table-bordered" id="myTable1">
        <thead class="bg-primary">
            <tr>
                <th scope="col" style="text-align:center;">Account #</th>
                <th scope="col" style="text-align:center;">Name</th>
                <th scope="col" style="text-align:center;">Address</th>
                <th scope="col" style="text-align:center;">Applied Date</th>
                <th scope="col" style="text-align:center;">Expiry Date</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="modal fade" id="mySCDetailModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="mySCDetailModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title" id="myAddAccountModalLabel"><strong>SC ACCOUNT DETAILS</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="txtAcctNo">ACCOUNT NO:</label>
                                <input class="form-control" type="text" id="txtAcctNo" maxlength="10" style="min-width:100%;" disabled />
                            </div>
                            <div class="col-lg-8">
                                <label for="txtName">ACCOUNT NAME:</label>
                                <input class="form-control" type="text" id="txtName" maxlength="10" style="min-width:100%;" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-offset-4 col-lg-4">
                                <label for="txtSCID">SENIOR CITIZEN ID NO.:</label>
                                <input class="form-control" type="text" id="txtSCID" maxlength="10" style="min-width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" id="btnAddAcct" data-dismiss="modal" onclick="updateSCDetailsOfAccount()" value="UPDATE" />
                        <input type="button" class="btn btn-warning" data-dismiss="modal" value="CANCEL" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(loadDataTable1());
    </script>
}