
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />

<style>
    /*.dataTables tbody tr {
        min-height: 30px;*/ /* or whatever height you need to make them all consistent */
    /*}

    #myTable1 {
        font-size: 12px;
    }*/
    .table.dataTable td, th {
        font-size: 12px !important;
    }
</style>

<h2>Generation of Aging</h2>

<div class="row">
    <div class="col-lg-1">
        <button class="btn btn-warning" id="btnBack" onclick="location.href='@Url.Action("Index","Home")'"><i class="glyphicon glyphicon-arrow-left"></i> Home</button>
        <input type="hidden" id="txtCurrentRole" class="form-control" value=@ViewBag.Message />

    </div>
    <div class="col-lg-offset-2 col-lg-5">
        <div class="input-group">
            Please select Date:
            <input type="date" id="dtpDateEnd" class="form-control" />
        </div>

    </div>
    <div class="col-lg-2">
        <br />
        <input type="checkbox" id="chkIsEB" checked="checked" /><strong> Is TRXAMOUNT?</strong>
    </div>
    <div class="col-lg-2">
        <br />
        <button class="btn btn-danger" id="btnProcess" onclick="return processdata()"><i class="glyphicon glyphicon-exclamation-sign"></i> Process</button>
    </div>


</div>
<br />

<br />
<div class="table-responsive-sm">
    <table class="table table-hover table-bordered" id="myTable1">
        <thead class="bg-primary">
            <tr>
                <th scope="col" style="text-align:center;">ACCOUNT NO</th>
                <th scope="col" style="text-align:center;">NAME</th>
                <th scope="col" style="text-align:center;">ADDRESS</th>
                <th scope="col" style="text-align:center;">TYPE</th>
                <th scope="col" style="text-align:center;">STATUS</th>
                <th scope="col" style="text-align:center;">00 - 30 DAYS</th>
                <th scope="col" style="text-align:center;">31 - 60 DAYS</th>
                <th scope="col" style="text-align:center;">61 - 90 DAYS</th>
                <th scope="col" style="text-align:center;">91 - 180 DAYS</th>
                <th scope="col" style="text-align:center;">181 - 240 DAYS</th>
                <th scope="col" style="text-align:center;">241 - 360 DAYS</th>
                <th scope="col" style="text-align:center;">1 YEAR AND ABOVE</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="modalLoading" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="spin-container">
            <div class="spin" id="loader"></div>
            <div class="spin" id="loader2"></div>
            <div class="spin" id="loader3"></div>
            <div class="spin" id="loader4"></div>
            <span id="spintext">LOADING...</span>
        </div>

    </div>
</div>


@section Scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    @*datatable buttons scripts in order (excel and csv button)*@
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    @*end here*@

    <script src="~/Scripts/myscripts/agingasacctgscript_v1.0.0.2.js"></script>

    <script>
        $(document).ready(hideunneccessaryoptions());
    </script>
}