
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/myscripts/activewithzeroconsumptionscript.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<style>
    .dataTables tbody tr {
        min-height: 30px; /* or whatever height you need to make them all consistent */
    }

    #myTable1 {
        font-size: 12px;
    }
</style>

<h2>Active Consumers With Zero Consumption</h2>


<div class="row">
    <div class="col-lg-2">
        <button class="btn btn-warning" id="btnBack" onclick="location.href='@Url.Action("Index","Home")'"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
        <input type="hidden" id="txtCurrentRole" class="form-control" value=@ViewBag.Message />
    </div>

    @using (Html.BeginForm("ExportToExcel", "ActiveWithZeroConsumption", FormMethod.Post))
    {
        <div class="col-lg-offset-4 col-lg-6">
            <div class="row">
                <div class="col-lg-offset-8 col-lg-4">
                    <input type="submit" value="Export to Excel" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>

<br />
<div class="table-responsive-sm">
    <table class="table table-hover table-bordered" id="myTable1">
        <thead class="bg-primary">
            <tr>
                <th scope="col" style="text-align:center;">Account No</th>
                <th scope="col" style="text-align:center;">Account Name</th>
                <th scope="col" style="text-align:center;">Address</th>
                <th scope="col" style="text-align:center;">Meter No.</th>
                <th scope="col" style="text-align:center;">Pole Id</th>
                <th scope="col" style="text-align:center;">Type</th>
                <th scope="col" style="text-align:center;">Read(KWH)</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(loadPage());
    </script>
}
