
@{
    ViewBag.Title = "FourPsVerify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/myscripts/sweetalert.js"></script>
<script src="~/Scripts/myscripts/fourpsverifyscript_v1.1.1.js"></script>

<style>
    .input-group-multi [class*='col-'] {
        margin: 0 !important;
        padding: 0 !important;
    }

    .input-group-multi .form-control {
        border-right: 0;
    }

    .input-group-multi [class*='col-']:last-child .form-control {
        border-radius: 0 4px 4px 0;
        border-right: 1px solid #ccc;
    }
</style>

<h2><strong>Verify 4Ps Details</strong></h2>

<div class="row">
    <div class="col-lg-2">
        <button class="btn btn-warning" id="btnBack" onclick="location.href='@Url.Action("Index","Home")'"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
        <input type="hidden" id="txtCurrentRole" class="form-control" value=@ViewBag.Message />
    </div>
    <div class="col-lg-3">
        <input type="text" placeholder="Last Name" id="txtlname" class="form-control" />
    </div>
    <div class="col-lg-3">
        <input type="text" placeholder="First Name" id="txtfname" class="form-control" />
    </div>
    <div class="col-lg-3">
        <input type="text" placeholder="Middle Name" id="txtmname" class="form-control" />
    </div>
    <div class="col-lg-1">
        <button class="btn btn-primary" id="btnVerify" onclick="verify4PsDetails()"><i class="glyphicon glyphicon-search"></i> Verify</button>
        <button class="btn btn-primary" id="btnReset" onclick="reloadPage()"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
    </div>
</div>
<br />
<div class="row" id="divResult">
</div>

<div id="frmFPS">
</div>

@*==============================MODALS=======================================*@
<div class="modal fade"
     id="modalSearchAcct"
     data-backdrop="static"
     data-keyboard="false"
     tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="max-height:500% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="modal-title" style="vertical-align:central;float:left;">SEARCH ACCOUNT</h5>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-danger" style="float:right;" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="txtsrcacctno" placeholder="Enter Account No" />
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="txtsrcacctname" placeholder="Enter Account Name" />
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="txtsrcaddress" placeholder="Enter Address" />
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-info" id="btnsrcaccount" onclick="displayAccounts()"><i class="glyphicon glyphicon-check"></i> Search</button>
                    </div>
                </div><br />
                <div style="overflow:scroll;" id="divSeachResult">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myRptFormModal" tabindex="-1" role="dialog" aria-labelledby="myRptFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="@Url.Action("BurialAssistanceValidation","Index")">X</button>
                <h4 class="modal-title" id="myRptFormModalLabel">4Ps LIFELINER APPLICATION FORM</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <embed src="" width="100" height="500" type="application/pdf" id="fourpsqmepdf" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="printCert()">Preview Certificate</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="@Url.Action("FourPsApplication","FourPsVerify")">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(loadPage());
    </script>
}
